.four-0-for-image{
    display: block;
    margin: 60px auto;  /* перенесет в центр */
}

.four-0-four-msg{
    text-align: center;
    text-transform: capitalize;
    color: #383838;
}

.four-0-four-msg a{
    color: #383838;  /* цвет линка */
}

.content-container{  /* для 404 страницы */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    font-family: 'Krub', sans-serif;
}

.background-image {   /* для 404 страницы */
    background-image: url('../img/404_background.jpg');
    background-size: cover;
}