body {
    display: block;
    padding: 0 10vw;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    font-size: 14px;
}

input:not(input[type="checkbox"]) {
    width: 100%;
    box-shadow: none;
}

textarea {
    width: 100%;
    height: 270px;
    resize: none;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #142A00;
    background: #EDEDED;
    box-shadow: none;
    outline: none;
    margin: 0 0 20px 0;
    color: #142A00;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
}

textarea::placeholder {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.2em;
    color: #686B5A;
    opacity: 0.8;
}

input:focus, textarea:focus {
    background-color: white;
}

input:hover, textarea:hover, .product-image:hover, .upload-image-section:hover, .select-sizes:hover {
    background-color: white;
    opacity: 1;
}

.product-info {
    width: 100%;
    height: 500px;
    display: grid;
    grid-template-columns: .75fr 1.25fr;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    margin-bottom: 20px;
    padding: 0;
    font-size: 16px;
    font-weight: 500;
    color: #142A00;
    opacity: 1;
    text-shadow: 0 0 10px #d8dcd3;
    text-transform: capitalize;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EDEDED;
    background-size: cover;
    outline: none;
    border-radius: 5px;
    grid-row: span 2;
}

.upload-image-section-title {
    display: flex;
    justify-content: left;
    align-items: center;
}

.upload-image-section-title img {
    height: 25px;
    margin-right: 10px;
}

.upload-image-section, .select-sizes {
    background: #EDEDED;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
}

.text img {
    height: 30px;
    margin: 0 15px 0 0;
}

.upload-catalogue {
    width: 100%;
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-gap: 10px;
}

.upload-image {
    width: 100%;
    height: 100px;
    background: #d8dcd3;
    cursor: pointer;
    background-size: cover;
}

.upload-image:hover {
    background: #8C9A7F;
    cursor: pointer;
    background-size: cover;
}

.sizes {
    margin-top: 30px;
}

.size-checkbox {
    position: relative;
    -webkit-appearance: none;
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    color: #142A00;
    background: #d8dcd3;
}

.size-checkbox::after {
    content: attr(value);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    text-transform: uppercase;
}

.size-checkbox:checked {
    background: #8C9A7F;
    transition: 0.7s;
    cursor: pointer;
    color: #EDEDED;
    font-weight: 700;
    box-shadow: 0 5px 10px #142A00;
}

.size-checkbox:not(:checked):hover {
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 5px 10px #142A00;
}

.size-checkbox:checked:hover {
    background: #8C9A7F;
    transition: 0.5s;
    color: #EDEDED;
    font-weight: 700;
    box-shadow: 0 10px 10px #142A00;
}

.size-checkbox:not(:checked) {
    color: #142A00;
    background: #d8dcd3;
    background-size: cover;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-price {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.product-price input {
    margin: 0;
}

.buttons {
    margin: 20px 0 50px;
}

.btn {
    width: 48%;
    padding: 20px;
    border-radius: 5px;
    background: #d8dcd3;
    border: 1px solid #142A00;
    color: #142A00;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.25em;
    font-size: 15px;
    margin: 20px 0;
    cursor: pointer;
}

#add-btn:hover {
    font-weight: 600;
    cursor: pointer;
    background: url("../img/bkg-gold.png");
}

#save-btn {
    background-color: #a9a9a9;
}


/* alert */
.alert-box {
    width: 300px;
    min-height: 150px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 100px rgba(0, 0, 0, 0.05);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    opacity: 0;
    pointer-events: none;
    transition: 1s;
}

.alert-box.show {
    opacity: 1;
    pointer-events: all;
    top: 50%;
}

.alert-img {
    display: block;
    height: 60px;
    margin: 10px auto 20px;
}

.alert-msg {
    color: #e24c4b;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}








