.cart-section{
    width: 100%;
    padding: 20px 10vw;
    display: flex;
    justify-content: space-between;
}

.product-list{
    width: 70%;
}

.checkout-section{
    width: 28%;
}

.section-heading{
    font-size: 30px;
    font-weight: 500;
    margin: 20px 0;
    text-transform: capitalize;
}

.cart, .wishlist{
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
    margin-bottom: 60px;
}

.sm-product{
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.cart .sm-product:last-child, .wishlist .sm-product:last-child{
    margin-bottom: 0;
}

.sm-product-img{
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 5px;
}

.sm-text{
    width: 50%;
}

.sm-product-name{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}

.sm-des, .sm-size{
    font-size: 15px;
    opacity: 0.5;
    line-height: 25px;
    text-transform: capitalize;
    margin-top: 10px;
}

.item-counter{
    width: 90px;
    height: 30px;
    display: flex;
    margin-right: 20px;
}

.counter-btn, .item-count{
    width: 30px;
    height: 30px;
}

.counter-btn{
    background: #f3f3f3;
    border: 1px solid rgb(216, 216, 216);
    border-radius: 1px;
    cursor: pointer;
}

.item-count{
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
}

.sm-price{
    flex: 0 0 180px;
    text-align: right;
    font-size: 35px;
    font-weight: 500;
    color: #383838;
}

.sm-delete-btn{
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    border: 1px solid rgb(216, 216, 216);
    z-index: 2;
    cursor: pointer;
}

.sm-delete-btn img{
    height: 15px;
}

.empty-img{
    width: 50%;
    display: block;
    margin: auto;
}

.checkout-box{
    width: 100%;
    height: 200px;
    border-radius: 2px;
    border: 1px solid #d8d8d8;
    padding: 20px;
}

.text{
    text-transform: capitalize;
    font-size: 18px;
}

.checkout-btn, .place-order-btn{
    display: block;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    border-radius: 5px;
    background: #A5A5A5;
    /*background: #383838;*/
    color: #fff;
    text-align: center;
    line-height: 40px;
    text-transform: capitalize;
    text-decoration: none;
}

.checkout-btn:hover, .place-order-btn:hover{
    background: #383838;  /* цвет кнопки при наведении мыши */
    color: #fff;
}

.bill{
    text-align: right;
    font-size: 60px;
    font-weight: 500;
    margin: 10px 0;
}

/* Blur effect for the page */
.blur {
    filter: blur();
    pointer-events: none;
    user-select: none;
}

/* Loading overlay */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loading-overlay.hidden {
    display: none;
}

/* Spinner animation */
.spinner {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.spinner:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ccc;
    border-color: #ccc transparent #ccc transparent;
    animation: spinner 1.2s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}