.background-image {   /* этот код дает эффект замороженной картинка на бекраудне */
    width: auto;
    height: calc(100vh - 100px);
    display: flex;
    background: url('../img/women-collection.png') no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

/*.background-image {*/
/*    background-image: url('../img/women-collection.png');*/
/*    background-size: cover;*/
/*}*/

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 80vh;
    position: relative;
}

.collection-short-des{
    position: absolute;
    bottom: 11%;
    justify-content: center;
    text-align: center;
    color: #982525;
    font-size: 20px;
    text-transform: capitalize;
    padding: 10px;
    z-index: 1;
}

.collection-short-des::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 1px;
    transform: translateX(-50%);
    width: 365px;
    height: 125px;
    background-color: rgba(183, 252, 252, 0.7);
    border-radius: 5px;
    z-index: -1;
}

.collection-title{
    margin: 20px 0 20px 0;
    text-align: center;
    /*color: #016565;*/
    color: #fff;
    text-shadow: 3px 3px 2px black;  /* тень на текст */
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 400;

    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    /*text-transform: capitalize;*/
}

.category-container{
    width: 90%;
    margin-left: 10px;
    /*background-color: #4C4F3C;*/
    overflow: auto;
    /*white-space: nowrap;*/
    padding: 0 10vw;
    scroll-behavior: smooth;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    grid-row-gap: 40px;
}
